@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, * {
  font-family: 'Instrument Sans', sans-serif;
}


body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
/* Hide scrollbars but allow scrolling */
.scrollbar-hide {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

.bg-grid {
  background-image: radial-gradient(rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

 body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

 .gradient-bg {
  background-color: #010205;
  background-image: radial-gradient(circle at top, rgba(255, 255, 255, 0.2) 0%, transparent 40%);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 640px) {
  .gradient-bg {
    background-image: radial-gradient(circle at top, rgba(255,255,255,0.2) 0%, transparent 20%);
  }
}

