@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Instrument Sans', sans-serif;
}
 
.text-outline {
  color: transparent;
  font-weight: 800;
  text-shadow:
    1px 0 0 white,
    -1px 0 0 white,
    0 1px 0 white,
    0 -1px 0 white,
    1px 1px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white;
}

  
  @layer utilities {
    .animate-spin-slow {
      animation: spin 8s linear infinite;
    }
  
    .animate-spin-reverse {
      animation: spin-reverse 6s linear infinite;
    }
  
    @keyframes spin-reverse {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-360deg);
      }
    }
  }